<style>
.responsive-ads { width: 300px; height: 200px; }
@media(min-width: 520px) { .responsive-ads { width: 468px; height: 60px; } }
@media(min-width: 768px) { .responsive-ads { width: 160px; height: 600px; } }
</style>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- anuncio-universidadejava -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5328676972596543"
     data-ad-slot="9892131312"
     data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5328676972596543",
    enable_page_level_ads: true
  });
</script>