---
layout: default
---

<div id="main" role="main">
	<div class="wrap">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		<div class="page-title">
			<h2><a href="http://www.universidadejava.com.br/java/">Java</a></h2>
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				{% for post in site.categories.java limit: 8 %}
					{% include post-grid.html %}
				{% endfor %}
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->

	<div class="wrap">
		<div class="page-title">
			<h2><a href="http://www.universidadejava.com.br/jee/">Java EE</a></h2>
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				<div class="tiles">
				{% for post in site.categories.jee limit: 8 %}
					{% include post-grid.html %}
				{% endfor %}
				</div><!-- /.tiles -->
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->

	<div class="wrap">
		<div class="page-title">
			<h2><a href="http://www.universidadejava.com.br/pesquisa_ordenacao/">Pesquisa e Ordenação de Dados</a></h2>
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				<div class="tiles">
				{% for post in site.categories.pesquisa_ordenacao limit: 8 %}
					{% include post-grid.html %}
				{% endfor %}
				</div><!-- /.tiles -->
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->


	<div class="wrap">
		<div class="page-title">
			<h2><a href="http://www.universidadejava.com.br/design_patterns/">Design Patterns</a></h2>
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				<div class="tiles">
				{% for post in site.categories.design_patterns limit: 8 %}
					{% include post-grid.html %}
				{% endfor %}
				</div><!-- /.tiles -->
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->

	<div class="wrap">
		<div class="page-title">
			<h2><a href="http://www.universidadejava.com.br/tdd/">Desenvolvimento Guiado por Testes</a></h2>
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				<div class="tiles">
				{% for post in site.categories.tdd limit: 8 %}
					{% include post-grid.html %}
				{% endfor %}
				</div><!-- /.tiles -->
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->
	
	<div class="wrap">
		<div class="page-title">
			<h2><a href="http://www.universidadejava.com.br/outros/">Outros</a></h2>
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				<div class="tiles">
				{% for post in site.categories.outros limit: 8 %}
					{% include post-grid.html %}
				{% endfor %}
				</div><!-- /.tiles -->
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->

	<div class="wrap">
		<div class="page-title">
			<h2><a href="http://www.universidadejava.com.br/apresentacoes/">Apresentações</a></h2>
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				<div class="tiles">
				{% for post in site.categories.apresentacoes limit: 8 %}
					{% include post-grid.html %}
				{% endfor %}
				</div><!-- /.tiles -->
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->

	<div class="wrap">
		<div class="page-title">
			<h2><a href="http://www.universidadejava.com.br/videos/">Vídeos</a></h2>
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				{% for post in site.categories.videos limit: 8 %}
					{% include post-grid.html %}
				{% endfor %}
				</div><!-- /.tiles -->
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->

</div><!-- /#main -->